<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>RITA</title>

</head>
<body>
    <div class="login-form">
        <h1>LOGIN</h1>
            <form action = "{{url_for('main')}}" method = 'POST'>
                <input type = "text" name="name" placeholder="What is your name?" />
                <input type = "number" name="age" placeholder="How old are you?" />
                <input type = "text" name= "email" placeholder="What is your e-mail?"/>
                <button className="submit-button" type = "submit">Submit</button><br>
            </form>
        </div>
</form>

</body>
</html>