<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RITA</title>
    <link rel="stylesheet" href="../static/styles/style.css">

</head>
<body>
    <div class="content">
        <h1>RITA</h1>
        <h2>the AI bartender</h2>
        <h3>As you might have guessed by now, RITA is an AI bartender that will generate cocktail recipes based on a specific ingredient
            or a cocktail name. Login to create an account in RITA and get instant generations based on your preferences! </h3>
        <div class="links">
            <a href="/login">Login here</a>
</div>

</body>
</html>